/* Estilo para el contenedor de eventos */
.eventos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para cada evento */
.evento {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
}

/* Estilo para la imagen del evento */
.evento img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilo para la información del evento */
.info-evento h2 {
    margin-top: 0;
}

/* Estilo para el texto de la información del evento */
.info-evento p {
    margin: 5px 0;
}
